* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
.gitmodules text eol=lf
LICENSE text eol=lf
*.md text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.py text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.epub binary
*.jar binary
